i{
    font-size:x-large;
}

.card-deck{
    display:flow-root;
    max-width: 845px;
}

.card{
    /* height: 330px;
    width: 380px; */
    height: 270px;
    width: 260px;
    margin: 5px;
    float: left;
}