<h5>FILTER BY</h5>
<br>
<div class="dropdown">
  <button class="btn dropdown-toggle"
    type="button"
    id="dropdowncollection"
    data-bs-toggle="dropdown">
    Collection
  </button>
  <ul class="dropdown-menu">
    <li><a class="dropdown-item"
        href="#">Office</a></li>
    <li><a class="dropdown-item"
        href="#">Living</a></li>
    <li><a class="dropdown-item"
        href="#">Library</a></li>
    <li><a class="dropdown-item"
        href="#">Kitchen</a></li>
    <li><a class="dropdown-item"
        href="#">Dining</a></li>
    <li><a class="dropdown-item"
        href="#">Bedroom</a></li>
  </ul>
</div>
<hr>
<div class="dropdown">
  <button class="btn dropdown-toggle"
    type="button"
    id="dropdowncollection"
    data-bs-toggle="dropdown">
    Category
  </button>
  <ul class="dropdown-menu">
    <li><a class="dropdown-item"
        href="#">Office</a></li>
    <li><a class="dropdown-item"
        href="#">Living</a></li>
    <li><a class="dropdown-item"
        href="#">Library</a></li>
    <li><a class="dropdown-item"
        href="#">Kitchen</a></li>
    <li><a class="dropdown-item"
        href="#">Dining</a></li>
    <li><a class="dropdown-item"
        href="#">Bedroom</a></li>
  </ul>
</div>
<hr>
<p>Rating</p>
<input type="radio"
  class="btn-check"
  id="rating5"
  name="rating">
<label class="btn btn-outline-success"
  for="rating5">5</label>
&nbsp;
<input type="radio"
  class="btn-check"
  id="rating4"
  name="rating">
<label class="btn btn-outline-primary"
  for="rating4">4</label>
&nbsp;
<input type="radio"
  class="btn-check"
  id="rating3"
  name="rating">
<label class="btn btn-outline-secondary"
  for="rating3">3</label>
&nbsp;
<input type="radio"
  class="btn-check"
  id="rating2"
  name="rating">
<label class="btn btn-outline-danger"
  for="rating2">2</label>
&nbsp;
<input type="radio"
  class="btn-check"
  id="rating1"
  name="rating">
<label class="btn btn-outline-danger"
  for="rating1">1</label>
<hr>
<p>Price range</p>
<div class="row">
  <div class="col-sm-6">
    <input type="text"
      name="min"
      id="min"
      placeholder="Minimum">
  </div>
  <div class="col-sm-6">
    <input type="text"
      name="max"
      id="max"
      placeholder="Maximum">
  </div>
</div>
