.hometile1-text{
  position: absolute;
  left: 51px;
  top: 808px;
  color: white;
  width: 150px;
  height: 33px;
  background-color: rgb(42, 42, 187);
}
.hometile2-text{
  position: absolute;
  left: 430.5px;
  top: 808px;
  color: white;
  width: 120px;
  height: 33px;
  background-color: rgb(42, 42, 187);
}
.hometile3-text{
  position: absolute;
  left: 810px;
  top: 808px;
  color: white;
  width: 125px;
  height: 33px;
  background-color: rgb(42, 42, 187);
}

.hometile img{
  width: 360px;
  height: 230px;
  border-radius: 8px;
}

