<app-carousel class="carousel-component"></app-carousel>

<div class="row">
  <div class="col-sm-4 hometile"><img src="/assets/bed-home.jpg"
      alt="Bedroom"></div>
  <div class="col-sm-4 hometile"><img src="/assets/dining-home.jpg"
      alt="Dining Room"></div>
  <div class="col-sm-4 hometile"><img src="/assets/kitchen-home.jpg"
      alt="Kitchen"></div>
</div>


<div class="hometile1-text tiles">
  <h4>Bedroom</h4>
</div>
<div class="hometile2-text tiles">
  <h4>Dining</h4>
</div>
<div class="hometile3-text tiles">
  <h4>Kitchen</h4>
</div>
