<div class="row">
    <section class="col-6 card noborder">
        <img src="https://cdn.pixabay.com/photo/2016/11/19/17/25/furniture-1840463__480.jpg" class="card-img">
    </section>
    <section class="col-6">
        <div class="card noborder">
            <div class="card-header">
              Collection
            </div>
            <div class="card-body">
              <h4 class="card-title">Name of the product</h4>
              <br>
              <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat commodi fugiat eligendi reiciendis ducimus necessitatibus omnis nam tenetur iste, totam debitis, enim nesciunt repellendus. Voluptatibus error repellat delectus, minima animi veritatis dolorem nisi, quia temporibus voluptatem atque dolores assumenda ullam!</p>
              <br>
              <div class="row">
                <div class="col-sm-8">
                    <span class="card-text grey">Price per unit</span>
                    <h4 class="card-title">120000 INR</h4>
                </div>
                <div class="col-sm-4" style="margin-top: 5px;">
                    <span class="card-text grey">Rating</span>
                    <button type="button" class="btn btn-success" style="margin-left: 20px;">5</button>
                </div>
              </div>
              <br>
              <div class="buybtn">
                <a href="#" class="btn btn-dark">Buy Now</a>
              </div>
            </div>
          </div>
    </section>
</div>
<br>
<hr>